# Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("/Users/angelica_villanueva/Downloads/weather_database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Atuona,PF,-9.8000,-139.0333,80.13,74,85,15.46,overcast clouds
1,1,Bluff,NZ,-46.6000,168.3333,46.00,91,100,11.99,overcast clouds
2,2,Tautira,PF,-17.7333,-149.1500,87.80,62,20,5.75,light rain
3,3,Whitehorse,CA,60.7161,-135.0538,57.20,21,1,10.36,clear sky
4,4,Castro,BR,-24.7911,-50.0119,59.13,92,99,3.29,overcast clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input('What is the minimum temperature you would like for your trip? '))
max_temp = float(input('What is the maximum temperature you would like for your trip? '))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
clean_df = city_data_df.loc[(city_data_df['Max Temp'] <= max_temp) & \
                                       (city_data_df['Max Temp'] >= min_temp)]
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Atuona,PF,-9.8000,-139.0333,80.13,74,85,15.46,overcast clouds
2,2,Tautira,PF,-17.7333,-149.1500,87.80,62,20,5.75,light rain
11,11,Lop Buri,TH,14.7981,100.6540,87.01,87,100,3.00,overcast clouds
16,16,Gizo,SB,-8.1030,156.8419,84.97,66,17,2.77,few clouds
22,22,Nioro,GM,13.3500,-15.7500,77.95,36,11,8.93,few clouds
...,...,...,...,...,...,...,...,...,...,...
680,680,Candolim,IN,15.5181,73.7626,82.33,70,95,4.74,overcast clouds
688,688,Fare,PF,-16.7000,-151.0167,81.39,64,0,2.68,clear sky
696,696,Noumea,NC,-22.2763,166.4572,77.00,69,40,13.80,scattered clouds
701,701,Portales,US,34.1862,-103.3344,84.99,6,1,16.11,clear sky
703,703,Wewak,PG,-3.5534,143.6268,84.33,66,44,2.33,scattered clouds

In [5]:
# 4a. Determine if there are any empty rows.
clean_df.isnull().sum()

City_ID                0
City                   0
Country                0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = clean_df.dropna()
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Atuona,PF,-9.8000,-139.0333,80.13,74,85,15.46,overcast clouds
2,2,Tautira,PF,-17.7333,-149.1500,87.80,62,20,5.75,light rain
11,11,Lop Buri,TH,14.7981,100.6540,87.01,87,100,3.00,overcast clouds
16,16,Gizo,SB,-8.1030,156.8419,84.97,66,17,2.77,few clouds
22,22,Nioro,GM,13.3500,-15.7500,77.95,36,11,8.93,few clouds
...,...,...,...,...,...,...,...,...,...,...
680,680,Candolim,IN,15.5181,73.7626,82.33,70,95,4.74,overcast clouds
688,688,Fare,PF,-16.7000,-151.0167,81.39,64,0,2.68,clear sky
696,696,Noumea,NC,-22.2763,166.4572,77.00,69,40,13.80,scattered clouds
701,701,Portales,US,34.1862,-103.3344,84.99,6,1,16.11,clear sky
703,703,Wewak,PG,-3.5534,143.6268,84.33,66,44,2.33,scattered clouds

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Atuona,PF,80.13,overcast clouds,-9.8000,-139.0333,
2,Tautira,PF,87.80,light rain,-17.7333,-149.1500,
11,Lop Buri,TH,87.01,overcast clouds,14.7981,100.6540,
16,Gizo,SB,84.97,few clouds,-8.1030,156.8419,
22,Nioro,GM,77.95,few clouds,13.3500,-15.7500,
24,Ati,TD,84.07,overcast clouds,13.2154,18.3353,
28,Truth Or Consequences,US,82.99,clear sky,33.1284,-107.2528,
29,Hithadhoo,MV,82.42,scattered clouds,-0.6000,73.0833,
31,Vaini,TO,82.40,broken clouds,-21.2000,-175.2000,
33,Geraldton,AU,75.20,clear sky,-28.7667,114.6000,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row['Lat']
    lng = row['Lng']
    
    params['location'] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = 'https://maps.googleapis.com/maps/api/place/nearbysearch/json'

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, 'Hotel Name'] = hotels['results'][0]['name']
    except (IndexError):
        hotel_df['Hotel Name'].replace('', np.nan, inplace=True)

In [9]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df = hotel_df.dropna()
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Atuona,PF,80.13,overcast clouds,-9.8000,-139.0333,Villa Enata
2,Tautira,PF,87.80,light rain,-17.7333,-149.1500,Pension Oaoa
11,Lop Buri,TH,87.01,overcast clouds,14.7981,100.6540,ลพบุรีอินน์ รีสอร์ท Lopburi Inn Resort
16,Gizo,SB,84.97,few clouds,-8.1030,156.8419,Imagination Island
28,Truth Or Consequences,US,82.99,clear sky,33.1284,-107.2528,Charles Motel
...,...,...,...,...,...,...,...
680,Candolim,IN,82.33,overcast clouds,15.5181,73.7626,Resort Terra Paraiso
688,Fare,PF,81.39,clear sky,-16.7000,-151.0167,Maitai Lapita Village Huahine
696,Noumea,NC,77.00,scattered clouds,-22.2763,166.4572,Hôtel Le Lagon
701,Portales,US,84.99,clear sky,34.1862,-103.3344,Holiday Inn Express & Suites Portales
703,Wewak,PG,84.33,scattered clouds,-3.5534,143.6268,In Wewak Boutique Hotel

In [10]:
# 8a. Create the output File (CSV)
output_data_file = "/Users/angelica_villanueva/Downloads/Vacation_Search/WeatherPy_vacation.csv"

hotel_df.to_csv(output_data_file, index_label="City_ID")

In [11]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""


# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [12]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))